@charset "utf-8";

@media (max-width:1510px) {
  .sidenav {
    width: 250px !important;
    padding: 20px !important;
  }

  .main {
    margin-left: 250px !important;
  }
}

@media (max-width:1330px) {
  .img-2 {
    left: 75% !important;
  }
}

@media (max-width:1140px) {
  .sidenav {
    left: -250px !important;
  }

  .main {
    margin-left: 0 !important;
  }

  .img-1 {
    left: -200px !important;
  }

  .menu {
    display: block !important;
  }
}

@media (max-width:992px) {
  .img-1 {
    display: none !important;
  }

  .img-2 {
    bottom: 200px !important;
    width: 100px !important;
    left: 1% !important
  }

  .plashka {
    width: 190px !important;
    height: 190px !important;
  }
}

@media (max-width:767px) {
  .col-center-xs {
    text-align: center !important;
  }

  h1 {
    font-size: 22px !important;
    line-height: 140.19% !important;
  }

  .slide-1 {
    padding-top: 150px !important;
    background-size: 50% !important;
  }

}

@media (max-width: 500px) {

  .plashka {
    width: 45% !important;
    flex-direction: column;
  }
}

@media (max-width: 400px) {

  .plashka {
    width: 100% !important;
    flex-direction: column;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

* {
  outline: 0 !important;
}

p {
  margin-bottom: 0 !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

input,
textarea {
  outline: none !important;
}

input:active,
textarea:active {
  outline: none !important;
}

:focus {
  outline: none !important;
}

textarea {
  resize: none !important;
}

textarea {
  resize: vertical !important;
}

textarea {
  resize: horizontal !important;
}


/* The sidebar menu */
.sidenav {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 370px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding: 50px;
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  z-index: 11;
  transition: 1s;
}

/* Style page content */
.main {
  margin-left: 370px;
  /* Same as the width of the sidebar */
}

.slide-1 {
  background: url(/img/ugol.jpg) top right no-repeat;
  background-size: auto;
  background-color: #ffefef;
  overflow: hidden;
  padding-top: 270px;
  padding-bottom: 100px;
}

.slide-2 {
  background-size: auto;
  background-color: #fff;
  position: relative;
  z-index: 3;
  overflow: hidden;
  padding-bottom: 100px;
}

.img-1 {
  width: 650px;
  position: absolute;
  top: 0;
  left: 200px;
}

.img-2 {
  width: 200px;
  position: absolute;
  bottom: -350px;
  left: 85%;
}

.img-3 {
  width: 650px;
  position: absolute;
  bottom: -100px;
  right: -200px;
}

.padd-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.div {
  /* border: 1px #000 dotted; */
  z-index: 3;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 140.19% !important;
  background: linear-gradient(45deg, #FF7052, #000000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link-1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800 !important;
  line-height: 140.19% !important;
  background: linear-gradient(45deg, blue, blue) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  border-bottom: 2px blue solid !important;
  margin-top: -5px;
}

.link-1:hover {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800 !important;
  line-height: 140.19% !important;
  background: linear-gradient(45deg, black, black) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  border-bottom: none !important;
  transition: 500ms;
}


.intro {
  padding: 40px 0 20px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140.19%;
  color: #54251B;
}

.info {
  color: #818A91;
}

.padd-1 {
  padding-top: 40px;
  padding-bottom: 10px;
}

.padd-2 {
  padding: 40px 0 20px;
}

.padd-3 {
  padding: 80px 0 50px;
}

.padd-4 {
  padding: 10px;
}

strong {
  font-size: 18px !important;
  color: #54251B !important;
}

.icon-1 {
  font-size: 20px !important;
  padding: 2px 9px !important;
  background-color: #818A91 !important;
  border: none !important;
}

.icon-2 {
  font-size: 20px !important;
  padding: 2px 9px !important;
  background-color: #25D366 !important;
  border: none !important;
}

.icon-3 {
  font-size: 20px !important;
  padding: 2px 9px !important;
  background-color: #2CA5E0 !important;
  border: none !important;
}

#footer {
  position: absolute;
  bottom: 0px;
  padding-bottom: 20px;
}

#footer p {
  margin: 0 !important;
}

.my-small a {
  color: #2CA5E0 !important;
  text-decoration: underline !important;
}

.my-small {
  font-size: 12px;
  padding: 0 !important;
  margin: 0 !important;
}

.tel {
  padding: 15px 0 15px;
}

.tel a {
  font-size: 20px;
  color: #818A91;
}

.tel a:hover {
  text-decoration: none;
  color: #000;
}

.div-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.plashka {
  width: 21%;
  height: 200px;
  background: linear-gradient(135deg, #EAEAEA 0%, #FFFFFF 100%);
  box-shadow: -10px 10px 20px rgba(221, 221, 221, 0.2), 10px -10px 20px rgba(221, 221, 221, 0.2), -10px -10px 20px rgba(255, 255, 255, 0.9), 10px 10px 25px rgba(221, 221, 221, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(221, 221, 221, 0.5);
  border-radius: 8px;
  margin: 2%;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plashka p {
  font-family: 'Montserrat', sans-serif;
  color: #54251B;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}

.input1 {
  width: 100% !important;
  font-family: 'Montserrat', sans-serif;
  background-color: transparent !important;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-radius: 0 !important;
  border-bottom: 1px #000 solid !important;
  color: #000 !important;
  padding: 10px;
  transition: 500ms;
  margin-bottom: 7px !important;
}

.inp-block {
  transition: 500ms;
  display: block !important;
  animation: zoomIn 1s;
}

.textarea {
  width: 100%;
  height: 130px;
  padding: 10px;
}

::-webkit-input-placeholder {
  color: #666;
}

::-moz-placeholder {
  color: #666;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #666;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #666;
}

input::-webkit-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.6s ease;
}

input::-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.6s ease;
}

input:-moz-placeholder {
  text-indent: 0px;
  transition: text-indent 0.6s ease;
}

input:-ms-input-placeholder {
  text-indent: 0px;
  transition: text-indent 0.6s ease;
}

input:focus::-webkit-input-placeholder {
  text-indent: 600px;
  transition: text-indent 0.6s ease;
}

input:focus::-moz-placeholder {
  text-indent: 600px;
  transition: text-indent 0.6s ease;
}

input:focus:-moz-placeholder {
  text-indent: 600px;
  transition: text-indent 0.6s ease;
}

input:focus:-ms-input-placeholder {
  text-indent: 600px;
  transition: text-indent 0.6s ease;
}


.menu {
  position: fixed;
  padding: 10px 10px 10px 250px;
  background-color: #fff;
  left: -240px;
  top: 50px;
  box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.25);
  z-index: 10;
  display: none;
  cursor: pointer;
  transition: 500ms;
  animation: bounceInLeft 1s;
}

.menu-close {
  display: none;
  transition: 500ms;
  margin: 5px;
  animation: zoomIn 1s;
}

.menu-open {
  transition: 500ms;
  animation: zoomIn 1s;
}

.show-sidenav {
  left: 0 !important;
  animation: bounceInLeft 1s;
}

.show-menu {
  left: 10px !important;
  animation: bounceInLeft 1s;
}

.show-icon {
  display: block !important;
}

.close-icon {
  display: none !important;
}

.step-call {
  transition: 500ms;
  animation: zoomIn 1s;
}

.step-call-2 {
  display: none;
  transition: 500ms;
  animation: zoomIn 1s;
}

#modal-1 {
  z-index: 9999 !important;
}

#modal-2 {
  z-index: 9998 !important;
}

@media (max-width:992px) {

  .kupon-block {
    height: 100%;
    padding: 20px 0 !important;
    margin-top: 10px !important;
  }

}

@media (max-width:580px) {
  .line {
    margin-top: 5px !important;
    border-left: none !important;
  }

  .line-blue {
    border-left: none !important;
  }

  .btn-left {
    top: -35px !important;
    right: 50px;
  }

  .btn-right {
    top: -35px !important;
    right: 0;
  }
}

.quiz {
  min-height: 500px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.25);
  padding: 0 10px;
}

.kupon-block {
  background: linear-gradient(45deg, #5333ed, #9684ee);
  margin: 10px 0;
  height: 100%;
  padding: 100px 0;
  border-radius: 8px;
}

.kupon-title {
  font-size: 26px;
  font-weight: 700;
  color: #5333ed;
  background-color: #fff;
  padding: 5px;
  margin: 30px 0 10px;
}

.kupon-price {
  padding: 50px 0 70px;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
}

.kupon-rub {
  position: relative;
  top: -15px;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

.kupon-summa {
  font-size: 20px;
  font-weight: 600;
}

.line {
  height: 4px;
  background-color: #ccc;
  border-left: 10px #fff solid;
  transition: 500ms;
  animation: zoomIn 1s;
}

.line-blue {
  height: 4px;
  background-color: #2CA5E0;
  border-left: 10px #fff solid;
  transition: 500ms;
  animation: zoomIn 1s;
}


.num00 {
  font-family: 'Montserrat', sans-serif;
  color: #54251B;
  font-size: 18px;
  font-weight: 600;
  margin: 40px 0 30px !important;
}

.num0 {
  color: #ccc;
  font-size: 14px;
  font-weight: 800;
  width: 30px;
  height: 30px;
  position: relative;
  top: -10px;
  padding: 5px;
}


.btn-left {
  position: absolute;
  top: -65px;
  right: 50px;
  z-index: 100;
  font-size: 24px;
  font-weight: 900;
  background: transparent;
  color: #000 !important;
  transition: 500ms;
  border: none !important;
}


.btn-left:hover {
  color: #999 !important;
  transition: 500ms;
  background-color: transparent !important;
}

.btn-left:focus {
  background-color: transparent !important;
}

.btn-right {
  position: absolute;
  top: -65px;
  right: 0;
  z-index: 100;
  font-size: 24px;
  font-weight: 900;
  background: transparent;
  color: #000 !important;
  border: none !important;
}

.btn-right:hover {
  color: #999 !important;
  transition: 500ms;
  background-color: transparent !important;
}

.btn-right:focus {
  background-color: transparent !important;
}

.questions_step1 {
  position: relative;
  z-index: 5;
  width: 210px;
  height: 260px;
  transition: 500ms;
  cursor: pointer;
  margin: 15px 15px 25px 15px;
  overflow: hidden;
}

.questions_step1:hover {
  transition: 500ms;
  box-shadow: 0 3px 15px rgba(1, 1, 1, 0.55);
}



.questions_step1 p {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  width: 210px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  transition: 500ms;
  animation: zoomIn 1s;
}

.mini-text {
  font-size: 12px !important;
  bottom: 45px !important;
}

.price-item {
  position: absolute;
  display: none;
}

.active-block {
  background-color: blue !important;
  color: #fff !important;
  transition: 500ms;
}

.mini-title {
  font-size: 13px;
  color: #666;
}

.mini-title2 {
  font-size: 13px;
  color: red;
  font-weight: 600;
}

.btn-none {
  background-color: #fff;
  display: none;
  position: absolute;
  transition: 500ms;
  color: red;
}

.btn-none-check {
  cursor: pointer;
  font-size: 14px;
  display: block;
  animation: zoomIn 1s;
  transition: 500ms;
  border: none !important;
  box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.25) !important;
}

.btn-none-check:hover {
  color: #fff !important;
  background-color: blue;
}

.type4 {
  cursor: pointer;
  transition: 500ms;
  padding: 20px;
  border: 1px #b6d4f1 solid;
  margin: 5px 0;
  width: 100%;
  border-radius: 6px;
}

.type4 span {
  position: relative;
  top: -1px;
  left: 5px;
}

.type4:hover {
  background-color: #ccccff;
  transition: 500ms;
}

.type4-check {
  background-color: #ccccff;
}


.step2,
.step3,
.step4,
.step5,
.step6,
.step7,
.step8,
.step9,
.step10,
.step11,
.step12 {
  display: none;
  animation: zoomIn 1s;
}

.preview-block__btn {
  width: 280px;
  height: 60px;
  left: 50%;
  margin-top: 10px;
  margin-bottom: 20px;
  transform: translate(-50%);
}

.custom-btn {
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 30px 15px 30px;
  border-radius: 50px !important;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  color: rgba(83, 51, 237, 1);
  text-align: center !important;
  text-transform: none;
  cursor: pointer;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.25);
  -webkit-transition: ease 0.3s;
  transition: ease 0.5s;
}

.custom-btn:hover {
  color: #fff;
  transition: ease 0.6s;
  text-decoration: none;
  padding: 20px 30px 20px 30px;
  background: rgba(83, 51, 237, 1) !important;
  -webkit-box-shadow: none;
  box-shadow: none !important;
}


.custom-btn:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #4054b2;
  opacity: 0;
  z-index: 1;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.custom-btn:after {
  content: "";
  display: block;
  width: 40px;
  height: 300px;
  margin-left: 60px;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  position: absolute;
  left: -40px;
  top: -150px;
  z-index: 1;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-animation-name: slideme;
  animation-name: slideme;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.custom-btn2 {
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 30px 15px 30px;
  border-radius: 50px !important;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-align: center !important;
  text-transform: none;
  cursor: pointer;
  overflow: hidden;
  background: rgba(83, 51, 237, 1);
  -webkit-box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.25);
  -webkit-transition: ease 0.3s;
  transition: ease 0.5s;
}

.custom-btn2:hover {
  color: #fff;
  transition: ease 0.6s;
  text-decoration: none;
  padding: 20px 30px 20px 30px;
  background: #4027b7 !important;
  -webkit-box-shadow: none;
  box-shadow: none !important;
}


.custom-btn2:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #4054b2;
  opacity: 0;
  z-index: 1;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.custom-btn2:after {
  content: "";
  display: block;
  width: 40px;
  height: 300px;
  margin-left: 60px;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  position: absolute;
  left: -40px;
  top: -150px;
  z-index: 1;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-animation-name: slideme;
  animation-name: slideme;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}




@-webkit-keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0px;
  }

  30% {
    left: 110%;
    margin-left: 80px;
  }

  100% {
    left: 110%;
    margin-left: 80px;
  }
}

#tsc_player {
  z-index: 9999;
}

.tscplayer_inline {
  position: static;
  margin: 30px;
  width: 600px;
  height: 290px;
  z-index: auto;
}

.tscplayer_fullframe {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  z-index: 9999;
}

@media screen and (max-width: 852px) {
  .tscplayer_inline {
    width: 100%;
  }
}